<div class="panel panel-default"
     [ngClass]="{
    'panel-success': boardItem.item.status == 'accepted',
    'panel-warning': boardItem.item.status == 'in progress'}"
     drop-zone [dropParams]="{parent: boardItem.item._id || boardItem.item, type: boardItem.type, board: boardItem}"
     [check]="[checkType]"
     drag [dragItem]="boardItem">

  <div class="panel-heading overflow-hidden">
    <h4 class="panel-title">
      <small class="tb-ico tt">T</small>
      <a [routerLink]="['/app/tasks/', boardItem?.item?._id]">{{boardItem.item.title}}</a>

      <span class="fa vcenter pull-right pointer"
            (click)="toggleSubitems()"
            [ngClass]="showSubitems ? 'fa-angle-up' : 'fa-angle-down'"></span>
      <span *ngIf="boardItem && boardItem._id"
            (click)="removeBoardItem(boardItem)"
            class="fa fa-times-circle-o text-muted vcenter pull-right"></span>
      <span class="fa fa-pencil-square-o vcenter pull-right pointer editTaskButton"
            (click)="edit(boardItem.item)"></span>
      <span class="fa fa-arrows text-muted vcenter drag-button pull-right"></span>

      <span class="label label-info vcenter pull-right" *ngIf="!boardItem.item.simple">complex</span>

    </h4>
  </div>

  <div *ngIf="showSubitems" class="sub-item-wrap">
    <simple-task-form [parentTask]="boardItem.item" (taskSaved)="taskSaveHandler($event)"></simple-task-form>
    <board-item-subitems [boardItem]="boardItem" [refreshCount]="refreshCount"></board-item-subitems>
  </div>
</div>
