<div *ngIf="task" class="task-info">

  <!--<h2 ng-hide="task._id == newTask._id" class="clearfix">-->
  <h2 class="clearfix">
    {{task.title}}
    <div class="pull-right" ng-controller="gotoRootTaskCtrl" *ngIf="task && task.parentTaskId">
      <!--<a uib-tooltip="Project: {{root.title | limitTo: 15}}" *ngIf="root" class="btn btn-sm btn-default"-->
      <!--ui-sref="app.task({taskId: root._id})"><i-->
      <!--class="fa fa-long-arrow-up"></i>&nbsp;{{root.title | limitTo: 15}}-->
      <!--<span *ngIf="root.title.length > 10">...</span>-->
      <!--</a>      -->
      <a *ngIf="root" class="btn btn-sm btn-default"
         [routerLink]="'/app/tasks/' + root._id"><i class="fa fa-long-arrow-up"></i>&nbsp;{{root.title}}
        <span *ngIf="root.title && root.title.length > 10">...</span>
      </a>
    </div>
  </h2>

  <h5 *ngIf="parentTask">
    <!--<a ui-sref="app.task({taskId: parentTask._id})"><i class="fa fa-long-arrow-left"></i>-->
    <!--{{parentTask.title}}</a>-->
    <a [routerLink]="['/app/tasks/', parentTask._id]"><i class="fa fa-long-arrow-left"></i>
      {{parentTask.title}}</a>
  </h5>

  <app-task-metrics [task]="task" (click)="edit(task)" class="pull-left" ></app-task-metrics>

  <a class="btn btn-sm btn-link pull-right" (click)="toggleTaskHistory()">Details</a>
  <div class="clearfix"></div>

  <!--<div ng-hide="task._id == newTask._id" *ngIf="task.description" class="mg" text-extend="task.description"-->
  <!--text-limit="170"></div>  -->
  <div *ngIf="task.description" class="mg">{{task.description}}</div>

  <!--<div ng-hide="task._id == newTask._id" files-view *ngIf="task.files.length" files="task.files"></div>-->

  <task-tags-panel [task]="task" *ngIf="task.tags && task.tags.length"></task-tags-panel>
</div>

<!--<div *ngIf="openHistory" task-history task="task" ></div>-->

<div *ngIf="!openHistory">
  <app-task-edit (onUpdate)="onUpdate($event)" (onRemove)="onRemove($event)" class="edit-form"></app-task-edit>

  <!--<div *ngIf="!newTask._id" task-editor task="newTask" task-on-complete="init"-->
  <!--class="edit-form"></div>-->

  <div>
    <div *ngIf="task && task._id" class="pull-right board-buttons btn-group" role="group">
      <!--<a *ngIf="tasks && tasks.length" class="btn btn-sm btn-default" ui-sref="app.tags-page({taskId: task._id})">Tags</a>-->
      <!--<a class="btn btn-sm btn-default" ui-sref="app.tasks-archive({taskId: task._id})">Archive</a>-->
      <!--<a *ngIf="tasks.length" class="btn btn-sm btn-default"-->
      <!--ui-sref="app.task-report({taskId: task._id, userId: userId})">Report</a>-->
    </div>

    <!--<div *ngIf="tasks && tasks.length" infinite-scroll="scroll()" infinite-scroll-distance="0"-->
    <!--infinite-scroll-disabled="busyScroll">    -->
    <div *ngIf="tasks && tasks.length">
      <!--<div class="pull-right board-buttons" *ngIf="!taskId">-->
        <!--<a class="btn btn-sm btn-default" ui-sref="app.projects-archive">Archive</a>-->
      <!--</div>-->

      <app-tasks-board *ngIf="tasks && tasks.length" [tasks]="tasks"></app-tasks-board>
    </div>

    <div *ngIf="!tasks.length" class="align-center">
      <h4>No active tasks.</h4>
    </div>
  </div>
</div>

