/.idea
/Vagrantfile
/.vagrant
/node_modules
/public-v2/node_modules
/public-v2/dist
.nodemon*
*.log
/app/config/parameters.json
/chromedriver
/operadriver
/geckodriver
/selenium-server-standalone-*
.DS_Store
/app/config/local.js
/app/config/local.json
migrations/.migrate
