<div class="task-edit-modal" *ngIf="task">
  <div class="overlay" (click)="onClose()"></div>
  <div class="modal">
    <div style="padding: 20px;">
      <app-task-edit [(task)]="task" (onClose)="onClose($event)"></app-task-edit>
    </div>
  </div>
</div>

<style>
  .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.3;
  }

  .modal {
    position: absolute;
    top: 40px;
    left: 5%;
    right: auto;
    bottom: auto;
    width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 130px -50px #000;
    background: #fff;
    z-index: 1000;
    display: block;
  }
</style>
