<div class="form-group clearfix icon-fix" *ngIf="task">

  <i class="fa fa-tags fa-md vcenter" tooltip="Tags"></i>

  <div class="field-fix">
    <div class="tag-selector">
      <ng-select #ngSelect class="ng-select tag-select"
                 [multiple]="true"
                 [items]="tagsList"
                 [active]="tags"
                 (selected)="selected($event)"
                 (removed)="removed($event)"
                 (typed)="typed($event)"
                 placeholder="Select tag...">
      </ng-select>
      <a (click)="notInList && addTag()"
         class="btn btn-xs btn-success add-tag-btn"
         *ngIf="tag && tag.length && notInList"><span>Add tag</span></a>
    </div>
    <div *ngIf="alreadyIn" class="text-danger">Already in tag list!</div>
    <div *ngIf="addedTag" class="text-success">Tag added!</div>
  </div>
</div>
