<div class="panel panel-default"
     *ngIf="task"
     [ngClass]="{
     'panel-success': task.status == 'accepted',
     'panel-warning': task.status == 'in progress'}">

  <!--"{-->
  <!--'panel-success': task.status == 'accepted',-->
  <!--'panel-warning': task.status == 'in progress',-->
  <!--'task-todo-low-time' : (task.timeToDo|round) < 0,-->
  <!--'task-not-estimated' : !task.points}"-->

  <div class="panel-heading overflow-hidden">
    <h4 class="panel-title">
      <a [routerLink]="['/app/tasks/', task._id]">{{task.title}}</a>
      <span class="fa fa-pencil-square-o vcenter pull-right pointer" (click)="edit(task)"></span>
      <!--<span class="fa fa-arrows vcenter pull-right pointer"></span>-->
      <span class="label label-info vcenter pull-right" *ngIf="!task.simple">complex</span>
    </h4>
  </div>

  <!--<div class="panel-body" *ngIf="metricsDetails || task.description || task.tags && task.tags.length">-->
  <div class="panel-body">
    <app-task-metrics [task]="task" [showStatus]="false" (click)="edit(task)" class="fs-sm " style="display: inline-block"></app-task-metrics>

    <div *ngIf="task.description">
      <hr *ngIf="metricsDetails"/>
      <task-description-viewer [description]="task.description"></task-description-viewer>
    </div>

    <hr *ngIf="task.tags && task.tags.length && (task.description || metricsDetails > 0)"/>

    <task-tags-panel [task]="task" *ngIf="task.tags && task.tags.length"></task-tags-panel>
  </div>

</div>
