<form (submit)="board?.title?.length && save()">
  <div class="input-group" style="margin: 0 0 15px;">
    <input [(ngModel)]="board.title" name="title" type="text"
           class="form-control input-sm" placeholder="Add Board"
           id="title" autocomplete="off"/>
    <span class="input-group-btn">
        <button class="btn btn-default btn-sm"
                [ngClass]="{'btn-success': board?.title?.length}"
                type="submit">
          <i class="fa fa-check"></i>
        </button>
        <button class="btn btn-default btn-sm" type="reset" (click)="reset()">
          <i class="fa fa-close"></i>
        </button>
      </span>
  </div>
</form>
