<div class="toaster-popup"></div>
<div>
  <nav class="navbar navbar-default">

    <div class="container">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" id="navBar">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a [routerLink]="['/app/tasks']" class="navbar-brand">Tracker</a>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li *ngIf="user"><a [routerLink]="['/app/tasks']">Projects</a></li>
          <!--<li><a [routerLink]="['/app/tasks/reports']">Report</a></li>-->
          <li *ngIf="user"><a [routerLink]="['/app/tasks/my']">My tasks</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

          <li *ngIf="user">
            <a [routerLink]="['/app/users/me']"><i class="fa fa-user"></i>
              {{user.first? (user.first+ ' ' +user.last): user.local.username}}
            </a>
          </li>
          <li *ngIf="!user"><a [routerLink]="['/app/login']">Login</a></li>
          <li *ngIf="!user"><a [routerLink]="['/app/register']">Register</a></li>
          <li *ngIf="user"><a [routerLink]="['/app/logout']">Logout</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div task-search></div>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>

  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>


