<div drop-listener
     style="width: 1000px; height: 1000px; border: 1px solid #2aabd2; ">
  <div drop-zone (onDrop)="updateStatus($event)" [dropParams]="{status:'new'}"
       style="float: left; width: 300px; height: 300px; border: 1px solid darkslateblue;">
    Basket 1

    <div
      *ngFor="let task of tasks"
      drag [dragItem]="task"
      class="drag-item pointer">
      {{task.title}}

      <span *ngIf="task.status"> status: {{task.status}}</span>
      <span *ngIf="task.parentId"> parentID: {{task.parentId}}</span>
    </div>

  </div>

  <div style="float: right; overflow: hidden;">
    <div drop-zone (onDrop)="updateStatus($event)" [dropParams]="{status:'accepted'}" class="drop-zone-class">
      <h1>1</h1>

      <div *ngFor="let task of tasks2">

        <div drag [dragItem]="task" drop-zone (onDrop)="updateParent($event)" [dropParams]="{toItem:task.id}"
             style="border: 1px solid #00b3ee; margin: 20px;">


          <a href="https://www.google.com.ua/?gws_rd=ssl"> {{task.title}}</a>
          <span *ngIf="task.status"> status: {{task.status}}</span>
          <span *ngIf="task.parentId"> parentID: {{task.parentId}}</span>
        </div>

      </div>

    </div>
  </div>

</div>


<style>
  .drop-zone-class {
    border: 1px solid crimson;
    padding: 5px;
    margin: 10px;
    width: 300px;
    height: 300px;
  }

  .drag-item {
    border: 1px solid crimson;
    padding: 5px;
    margin: 10px;
    width: 100px;
    height: 100px;
  }
</style>
