<div drop-listener (actionOnDrop)="updateArray($event)"
     style="width: 1000px; height: 1000px; border: 1px solid #2aabd2; ">
  <div style="float: left; width: 300px; height: 300px; border: 1px solid darkslateblue;">
    Basket 1

    <div
      *ngFor="let task of tasks"
      drag [dragItem]="task"
      class="drag-item pointer">
      {{task.title}}
    </div>

  </div>

  <div style="float: right; overflow: hidden;">
    <div drop-zone [params]="{action: 'updateStatus', status: 'access'}" class="drop-zone drop-zone-class">
      <h1>1</h1>

      <div *ngFor="let task of tasks2">

        <div drop-zone [params]="{action: 'updateParent'}" [toItem]="task.id"
             class="drop-zone" style="border: 1px solid #00b3ee;">
          {{task.title}}

          <span *ngIf="task.status"> status: {{task.status}}</span>
          <span *ngIf="task.parentId"> parentID: {{task.parentId}}</span>
        </div>

      </div>

    </div>
  </div>

</div>


<style>
  .drop-zone-class {
    border: 1px solid crimson;
    padding: 5px;
    margin: 10px;
    width: 300px;
    height: 300px;
  }

  .drag-item {
    border: 1px solid crimson;
    padding: 5px;
    margin: 10px;
    width: 50px;
    height: 50px;
  }

  .panel-placeholder {
    margin-top: 10px;
    display: none;
    background: #f60;
    border: 2px dashed #000;
    width: 100%;
    height: 50px;
  }

  .panel:hover .panel-placeholder {
    display: block;
  }
</style>
