<div *ngIf="task" style="border: solid #ccc 1px;
border-radius: 4px; top:20%;">
  <h4 style="font-weight: bold; padding: 0 10px; text-align: left">{{task.title}}</h4>


  <div class="overflow-hidden" style="padding: 0 10px; border: solid #ccc 1px; margin: 10px;">
    <div style="text-align: center; font-size: 3em">
      <div class="">{{spendTime}}</div>
    </div>
  </div>

  <div style="text-align: center; display: block; margin-bottom: 10px">
    <a *ngIf="getLastStatus(boardItem) == 'accepted' || getLastStatus(boardItem) == ''"
       (click)="start(boardItem)"
       class="fa fa-play fa-2x text-center pointer"
       style="text-decoration:none; color: #666; padding: 10px">
    </a>

    <a *ngIf="getLastStatus(boardItem) == 'in progress'"
       (click)="pause(boardItem)"
       class="fa fa-pause fa-2x text-center pointer"
       style="text-decoration:none; color: #666; padding: 10px">
    </a>

    <a *ngIf="getLastStatus(boardItem) !== 'accepted'"
       (click)="accept(boardItem)"
       class="fa fa-check fa-2x text-center pointer"
       style="text-decoration:none; color: #666; padding: 10px">
    </a>

    <a (click)="edit(task)"
       class="fa fa-pencil-square-o fa-2x pointer"
       style="text-decoration: none; color: #666; padding: 10px"></a>
  </div>
</div>

<hr>
