<div *ngIf="task" class="current-basket">
  <h4 class="current-basket-title">{{task.title}}</h4>

  <div class="overflow-hidden current-basket-spent-time">
      <div>{{spendTime}}</div>
  </div>

  <div class="timer-controls-wrapper">
    <a *ngIf="getLastStatus(boardItem) == 'accepted' || getLastStatus(boardItem) == ''"
       (click)="start(boardItem)"
       class="fa fa-play fa-2x text-center pointer timer-controls">
    </a>

    <a *ngIf="getLastStatus(boardItem) == 'in progress'"
       (click)="pause(boardItem)"
       class="fa fa-pause fa-2x text-center pointer timer-controls">
    </a>

    <a *ngIf="getLastStatus(boardItem) !== 'accepted'"
       (click)="accept(boardItem)"
       class="fa fa-check fa-2x text-center pointer timer-controls">
    </a>

    <a (click)="edit(task)"
       class="fa fa-pencil-square-o fa-2x pointer timer-controls">
    </a>
  </div>
</div>

<hr>
