<div class="panel panel-default" *ngIf="task">
  <div class="panel-heading overflow-hidden">
    <h4 class="panel-title">
      <a [routerLink]="['/app/tasks/', task._id]"><span style="font-weight: bold">{{task.title}}</span> </a>

      <span class="fa fa-pencil-square-o vcenter pull-right pointer editTaskButton" (click)="edit(task)"></span>
      <span class="vcenter pull-right" *ngIf="approximateTime">{{approximateTime}} h</span>
    </h4>
  </div>

  <div class="panel-body">
    <div>
      <span class="label" [ngClass]="[setLabelClass()]">{{getLastStatus(boardItem) || 'new'}}</span>

      <span class="glyphicon glyphicon-play"
            *ngIf="getLastStatus(boardItem) == 'accepted' || getLastStatus(boardItem) == ''"
            (click)="start(boardItem)"></span>

      <span class="glyphicon glyphicon-pause"
            *ngIf="getLastStatus(boardItem) == 'in progress'"
            (click)="pause(boardItem)"></span>

      <span class="glyphicon glyphicon-check"
            *ngIf="getLastStatus(boardItem) !== 'accepted'"
            (click)="accept(boardItem)"></span>

      <span class="pull-right">{{spendTime}}</span>

    </div>
  </div>
</div>

<hr>
