<div class="task-views-block">
  <div class="clearfix">
    <div class="btn-group board-buttons" role="group">
      <button class="btn btn-default btn-sm"
              *ngFor="let board of boards"
              (click)="onChangeBoard(board)">
        {{board.title}}
      </button>
    </div>

    <!--<button class="btn btn-default btn-sm btn-metrics">-->
      <!--<i class="fa"></i>-->
    <!--</button>-->
    <!--&nbsp;-->
    <!--<button class="btn btn-default btn-sm btn-metrics" tooltip="Sort By Priority">-->
      <!--<i class="fa fa-bolt"></i>-->
    <!--</button>-->
    <!--&nbsp;-->
    <!--<button class="btn btn-default btn-sm btn-metrics" tooltip="Sort By Date">-->
      <!--<i class="fa fa-calendar"></i>-->
      <!--<i class="fa"></i>-->
    <!--</button>-->
  </div>

  <div class="clearfix">
    <div *ngIf="currentBoard.name == 'board'">
      <board-view [tasks]="tasks"></board-view>
    </div>
    <div *ngIf="currentBoard.name == 'list'">
      <list-view [tasks]="tasks"></list-view>
    </div>
  </div>
</div>
