<div class="task-views-block">
  <div class="clearfix">
    <div class="btn-group board-buttons" role="group">
      <button class="btn btn-default btn-sm"
              *ngFor="let board of boards"
              [ngClass]="{'active': currentBoard?.name === board?.name}"
              (click)="onChangeBoard(board)">
        {{board.title}}
      </button>
    </div>

    <button class="btn btn-default btn-sm btn-metrics"
            (click)="changeMetricsView()"
            [ngClass]="{'btn-warning' : metricsViewType == 1,'btn-info' : metricsViewType == 2}">
      <i class="fa" [ngClass]="{
        'fa-circle-o' : metricsViewType == 0,
        'fa-dot-circle-o' : metricsViewType == 1,
        'fa-circle' : metricsViewType == 2}">
      </i>
    </button>
    &nbsp;
    <button class="btn btn-default btn-sm btn-metrics"
            tooltip="Sort By Priority"
            (click)="sortByPriority()">
      <i class="fa fa-bolt"></i>
      <i class="fa" [ngClass]="{
        'fa-long-arrow-down': orderByPriority === 'desc',
        'fa-long-arrow-up': orderByPriority === 'asc'}"></i>
    </button>
    &nbsp;
    <button class="btn btn-default btn-sm btn-metrics"
            tooltip="Sort By Date"
            (click)="sortByDate()">
      <i class="fa fa-calendar"></i>
      <i class="fa" [ngClass]="{
        'fa-long-arrow-down': orderByDate === 'desc',
        'fa-long-arrow-up': orderByDate === 'asc'}">
      </i>
    </button>
  </div>

  <div class="clearfix">
    <div
      *ngIf="currentBoard.name == 'board'">
      <board-view
        [tasks]="tasks | tasksSort: {priority: orderByPriority, updatedAt: orderByDate}"></board-view>
    </div>
    <div *ngIf="currentBoard.name == 'list'">
      <list-view
        [tasks]="tasks | tasksSort: {priority: orderByPriority, updatedAt: orderByDate}"></list-view>
    </div>
    <div *ngIf="currentBoard.name == 'tree'">
      <tree-view
        [tasks]="tasks | tasksSort: {priority: orderByPriority, updatedAt: orderByDate}"></tree-view>
    </div>
  </div>
</div>
