<div drop-listener>
  <h2 class="clearfix" *ngIf="boardItem" drop-zone
      [dropParams]="{parent: boardItem._id, type: boardItem.type|| null}">
    {{boardItem?.title}}
  </h2>

  <a *ngIf="project && !boardItem" class="back-button" [routerLink]="['/app/tasks', project?._id]">
    <i class="fa fa-long-arrow-left"></i>
    {{project.title ? 'Back to: ' + project.title : 'Back to project'}}
  </a>

  <a *ngIf="boardItem" class="back-button" (click)="back()"><i class="fa fa-long-arrow-left"></i> Back</a>

  <task-backlog></task-backlog>

  <board-edit [parentBoard]="boardItem"></board-edit>

  <div class="board-view boards" *ngIf="boardItems && boardItems.length">
    <div class="clearfix">
      <button class="btn btn-default btn-sm btn-metrics"
              tooltip="Sort By Priority"
              (click)="sortByPriority()">
        <i class="fa fa-bolt"></i>
        <i class="fa" [ngClass]="{
        'fa-long-arrow-down': orderByPriority === 'desc',
        'fa-long-arrow-up': orderByPriority === 'asc'}"></i>
      </button>
    </div>

    <div class="row">
      <div class="col-sm-4" *ngFor="let status of statusTypes">
        <h3 class="list-name">{{status.name}}</h3>

        <app-board-items-list
          [boardItems]="boardItems | boardItemsByStatusFilter: status | boardItemsSort: {'item.priority': orderByPriority}">
        </app-board-items-list>
      </div>
    </div>
  </div>
</div>
