<form (ngSubmit)="save()">
  <div class="form-group">
    <input type="text" name="title" [(ngModel)]="newBoard.title" class="form-control" placeholder="Add Board">
  </div>
  <button class="btn btn-success btn-sm">Save</button>
</form>


<div class="row board-view" *ngIf="boards && boards.length">
  <span>{{statusTypess.length}}</span>
  <div class="col-sm-4" *ngFor="let status of statusTypess">
    <span>2</span>
    <h3 class="list-name">{{status.name}}</h3>

    <div class="tasks-list">
      <div *ngFor="let board of boards">
        <div class="panel panel-default"
             [ngClass]="{
    'panel-success': board.status == 'accepted',
    'panel-warning': board.status == 'in progress'}">

          <div class="panel-heading overflow-hidden">
            <h4 class="panel-title">
              <a>{{board.title}}</a>
            </h4>
          </div>

          <!--<div class="panel-body" *ngIf="metricsDetails || task.description || task.tags && task.tags.length">-->
          <!--<div class="panel-body" *ngIf="metricsDetails">-->
          <!--<app-task-metrics [task]="task"-->
          <!--[showStatus]="false"-->
          <!--[metricsDetails]="metricsDetails"-->
          <!--(click)="edit(task)"-->
          <!--class="fs-sm "-->
          <!--style="display: inline-block">-->
          <!--</app-task-metrics>-->

          <!--<div *ngIf="task.description">-->
          <!--<hr *ngIf="metricsDetails"/>-->
          <!--<task-description-viewer [description]="task.description"></task-description-viewer>-->
          <!--</div>-->

          <!--<hr *ngIf="task.tags && task.tags.length && (task.description || metricsDetails > 0)"/>-->
          <!--</div>-->
        </div>
      </div>
    </div>

    <!--<app-tasks-list [tasks]="tasks | tasksBoardFilter: status" [board]="status"></app-tasks-list>-->
  </div>
</div>
