<div drop-listener>
  <task-backlog></task-backlog>

  <form (ngSubmit)="save()">
    <div class="form-group">
      <input type="text" name="title" [(ngModel)]="newBoard.title" class="form-control" placeholder="Add Board">
    </div>
    <button class="btn btn-success btn-sm">Save</button>
  </form>


  <div class="row board-view" *ngIf="boards && boards.length" drop-listener>
    <div class="col-sm-4" *ngFor="let status of statusTypess"
         drop-zone [dropParams]="{status: status}">
      <h3 class="list-name">{{status.name}}</h3>

      <div class="tasks-list">
        <div *ngFor="let board of boards | boardsByStatusFilter: status">
          <div class="panel panel-default"
               [ngClass]="{
    'panel-success': board.status == 'accepted',
    'panel-warning': board.status == 'in progress'}"
               drop-zone [dropParams]="{parent: board._id}" drag [dragItem]="board">

            <div class="panel-heading overflow-hidden">
              <h4 class="panel-title">
                <a>{{board.title}}</a>
                <span class="fa fa-arrows vcenter pull-right pointer ng-scope drag-button"></span>
              </h4>
            </div>


          </div>
        </div>
      </div>

    </div>
  </div>
</div>
