<div class="row">

  <div class="col-md-12">
    <h3>Basket history</h3>
    <a class="back-button" (click)="back()">
      <i class="fa fa-long-arrow-left"></i>
      Back
    </a>

    <div *ngIf="baskets?.length">
      <ul class="list-group" *ngFor="let basket of baskets">
        <li class="list-group-item">
          <div class="pull-left">
            {{basket.title}} <span class="text-muted">({{basket.createdAt| date : 'yyyy/MM/dd'}})</span>
          </div>
          <div class="pull-right">
            <a (click)="show(basket._id)" *ngIf="showBasket!==basket._id" class="pointer"><span class="caret"></span> Show</a>
            <a (click)="hide()" *ngIf="showBasket==basket._id" class="dropup pointer"><span class="caret"></span> Hide</a>
          </div>
          <div class="clearfix"></div>
          <basket-content [basketId]="basket._id" *ngIf="showBasket==basket._id"></basket-content>
        </li>
      </ul>
    </div>
  </div>

  <!--<div class="row">-->

  <!--</div>-->

</div>
