<h3>Search by tags</h3>
<a class="back-button" [routerLink]="['/app/tasks', task._id]">
  <i class="fa fa-long-arrow-left"></i>
  Back
</a>
<div class="tags mg" *ngIf="availableTags.length">
  <i class="fa fa-tags"></i>
  <a class="tag btn btn-xs "
     *ngFor="let tag of availableTags"
     [ngClass]="{'btn-info': isActiveTag(tag), 'btn-default': !isActiveTag(tag) }"
     (click)="toggleTag(tag)"
     style="margin-right: 5px">
    {{tag}}
  </a>
</div>

<div *ngIf="tasks.length">
  <metrics-widget></metrics-widget>
  <app-tasks-board [tasks]="tasks"></app-tasks-board>
</div>

<app-task-edit class="edit-form" [ngClass]="editMode ? 'show' : 'hide'"></app-task-edit>

<div *ngIf="!tasks.length">There are no tasks matched such request.</div>

<div *ngIf="!availableTags.length">No existing tags.</div>
