<ul class="detail-line task-metrics-widget" *ngIf="counter > 0">
  <li><i class="fa fa-tasks"></i>&nbsp;{{counter}} tasks</li>
  <li><i class="fa fa-clock-o"></i>&nbsp;<span tooltip="Estimated {{(metricsWidget.estimatedTime || 0 ) | humanizeTime}}" placement="top">{{(metricsWidget.estimatedTime || 0) | round }}</span>&nbsp;/&nbsp;
    <span tooltip="Spent {{((metricsWidget.spentime) || 0) | humanizeTime}}" placement="top">{{(metricsWidget.spentime || 0) | round}}</span>&nbsp;/&nbsp;
    <span tooltip="TODO {{(metricsWidget.timeToDo || 0) | humanizeTime}}" placement="top">{{(metricsWidget.timeToDo || 0) | round }}</span>&nbsp;hours
  </li>
  <li><span tooltip="Complexity" placement="top"><i class="fa fa-puzzle-piece"></i>&nbsp;{{metricsWidget.points}}</span>&nbsp;points</li>
</ul>
