<ul class="detail-line task-metrics-widget" *ngIf="metricsWidget.counter > 0">
  <li><i class="fa fa-tasks"></i>&nbsp;{{metricsWidget.counter}} tasks</li>
  <li><i class="fa fa-clock-o"></i>&nbsp;<span tooltip="Estimated time" placement="top">{{metricsWidget.estimatedTime }}</span>&nbsp;/&nbsp;
    <span tooltip="Spent time" placement="top">{{(metricsWidget.estimatedTime - metricsWidget.timeToDo)}}</span>&nbsp;/&nbsp;
    <span tooltip="TODO" placement="top">{{metricsWidget.timeToDo}}</span>&nbsp;hours
  </li>
  <li><span tooltip="Complexity" placement="top"><i class="fa fa-puzzle-piece"></i>&nbsp;{{metricsWidget.points}}</span>&nbsp;points</li>
</ul>
