<div class="panel panel-default"
     *ngIf="task"
     [ngClass]="{
     'panel-success': task.status == 'accepted',
     'panel-warning': task.status == 'in progress'}">

  <div class="panel-heading overflow-hidden">
    <h4 class="panel-title">
      <a [routerLink]="['/app/tasks/', task._id]">{{task.title}}</a>

      <span class="pointer glyphicon glyphicon-play"
            *ngIf="boardItem.item.simple"
            (click)="start(boardItem)"></span>

      <span class="fa fa-times vcenter pull-right"
            (click)="remove(boardItem)"></span>
      <span class="fa fa-pencil-square-o vcenter pull-right pointer editTaskButton" (click)="edit(task)"></span>
      <span class="fa fa-plus-square-o vcenter pull-right pointer editTaskButton"
            (click)="showForm()"></span>
      <span class="vcenter pull-right" tooltip="Approx. planned time">
        <span class="glyphicon glyphicon-dashboard" *ngIf="approximateTime"></span>

        <span style="margin-right: 5px" *ngIf="approximateTime"> {{approximateTime}} h</span>
      </span>
      <span class="label label-info vcenter pull-right" *ngIf="!boardItem.item.simple">complex</span>

    </h4>
  </div>

  <form (submit)="addSubBoardItem()" *ngIf="show" class="form-inline">
    <div class="input-group" style="width: 100%">
      <input [(ngModel)]="subTask.title"
             class="form-control input-sm" placeholder="Add Task"
             name="title" type="text" id="title" autocomplete="off"/>

      <span class="input-group-btn">
        <select [(ngModel)]="subTask.complexity"
                class="form-control input-sm"
                name="points" id="points">
          <option *ngFor="let complexity of complexities" [value]="complexity.value">
            {{complexity.name}}
          </option>
        </select>
      </span>

      <span class="input-group-btn">
        <button class="btn btn-success btn-sm" style="width: 100%"
                type="submit">Save</button>
      </span>
    </div>
  </form>

</div>
