<a (click)="toggleBasket()" class="btn btn-success btn-basket" [ngClass]="{active:showBasket}">
  Basket
</a>

<app-task-edit class="edit-form" [ngClass]="editMode ? 'show' : 'hide'"></app-task-edit>

<div class="basket"
     [ngClass]="{show: showBasket}"
     drop-zone
     [check]="[checkDropDataType]">
  <div class="wrap text-left">
    <h4 style="margin: 10px 0 20px; line-height: 24px;"  *ngIf="basket">{{basket.title}}
      <small (click)="toggleBasket()" class="text-muted pull-right" style="cursor: pointer">
        <i class="glyphicon glyphicon-remove"></i>
      </small>
    </h4>
    <div *ngIf="basket">
      <form (submit)="save()" class="form-inline">
        <div class="form-group form-group-sm" style="margin: 0 0 20px;">
          <label for="time">Init time:</label>
          <input [(ngModel)]="basket.time" name="time" type="number"
                 class="form-control input-sm" placeholder="Time"
                 (ngModelChange)="onModelChange()"
                 step="0.1"
                 autocomplete="off"
                 min="0"
                 id="time"/>
          <span class="input-group-btn"></span>
        </div>

      </form>
    </div>

    <basket-current-task *ngIf="currentBoardItem" [boardItem]="currentBoardItem">
    </basket-current-task>

    <div *ngIf="taskItems?.length">
      <div *ngFor="let taskItem of taskItems" class="text-left">
        <basket-task-panel [boardItem]="taskItem"
                           [pointCost]="basket.pointCost"
                           (selectedTask)="onChangeStatus($event)">
        </basket-task-panel>
      </div>
      <button (click)="finish()" class="btn btn-success btn-sm">Finish</button>
      <button (click)="clearBasket()" class="btn btn-danger btn-sm">Clear</button>
    </div>
    <div *ngIf="!taskItems?.length">No tasks yet</div>
  </div>
</div>

