<a (click)="toggleBasket()" [ngClass]="{active:showBasket}" style="cursor: pointer">Basket</a>

<app-task-edit class="edit-form" [ngClass]="editMode ? 'show' : 'hide'"></app-task-edit>

<div class="backlog"
     [ngClass]="{show: showBasket}"
     drop-zone
     [check]="[checkDropDataType]">
  <div class="wrap text-left">
    <h3 style="margin: 10px 0 20px; line-height: 24px;">Basket
      <small (click)="toggleBasket()" class="text-muted pull-right" style="cursor: pointer">
        <i class="glyphicon glyphicon-remove"></i>
      </small>
    </h3>
    <div *ngIf="basket">
      <form (submit)="save()" class="form-inline">
        <div class="form-group form-group-sm" style="margin: 0 0 20px;">
          <label for="time">Timeframe</label>
          <input [(ngModel)]="basket.time" name="time" type="number"
                 class="form-control input-sm" placeholder="Time"
                 (ngModelChange)="onModelChange()"
                 id="time"/>
          <span class="input-group-btn">
      </span>
        </div>
      </form>
    </div>
    <div *ngIf="taskItems?.length">
      <div *ngFor="let taskItem of taskItems" class="text-left">
        <basket-task-panel [boardItem]="taskItem"
                           [pointCost]="basket.pointCost"></basket-task-panel>
      </div>
      <button (click)="finish()" class="btn btn-success btn-sm">Finish</button>
    </div>
    <div *ngIf="!taskItems?.length">No tasks yet</div>
  </div>
</div>

